/* PaginationArrow.css */

.pagination-arrow {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: var(--text-subtle);
    border-radius: var(--radius-200);
    transition: all 0.2s ease-in-out;
    padding: var(--space-200);
    height: 32px;
    width: 32px;
    outline: none;
    /* Remove default focus ring */
}

.pagination-arrow:focus-visible {
    outline: 2px solid var(--border-focused);
    outline-offset: 2px;
    z-index: 1;
}

.pagination-arrow:hover:not(:disabled) {
    background-color: var(--background-secondary-hover);
    color: var(--text-primary);
}

.pagination-arrow:disabled {
    cursor: not-allowed;
    color: var(--text-disabled);
    opacity: 0.5;
}

.pagination-arrow--text {
    width: auto;
    padding: var(--space-200) var(--space-300);
    gap: var(--space-200);
    font-family: var(--body-font-family);
    font-size: var(--scale-03);
    font-weight: var(--weight-medium);
}